---
services:
  web:
    image: jekyll/jekyll:latest
    command: jekyll serve
    ports:
      - 4000:4000
    volumes:
      - ./vendor/bundle:/usr/local/bundle
      - .:/srv/jekyll
      - ./.jekyll-cache:/srv/jekyll/.jekyll-cache
      - ./_site:/srv/jekyll/_site
