---
layout: none
---

<!DOCTYPE html>
<html lang="fa">
  <head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8" />
    <title>Internet Engineering</title>
    <meta
      name="description"
      content="Internet Engineering Course Lecture and Page"
    />
    <meta name="author" content="Parham Alvani" />
    <link rel="shortcut icon" href="https://github.com/sbu-ce.png" />

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/skeleton.css" />
    <link rel="stylesheet" href="css/style.css" />

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->
  </head>
  <body>
    <!-- Github Ribbon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <a href="https://github.com/sbu-ce/ie-lecture" target="_blank">
      <img
        style="position: absolute; top: 0; right: 0; border: 0"
        src="img/forkme_right_orange.png"
        alt="Fork me on GitHub"
      />
    </a>
    <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <br />
    <div class="container">
      <div class="header">
        <h2>Internet Engineering</h2>
        <h6>Last Update: {{ site.time | timeago }}</h6>
      </div>
      <h2>Lectures 📜</h2>
      <table class="u-full-width">
        <thead>
          <tr>
            <th class="announcement-text">Lecture</th>
            <th class="announcement-date"></th>
          </tr>
        </thead>
        <tbody>
          {% assign lectures = site.html_pages | where: "layout", "lecture" %}
          {% assign miscs = lectures | where: "lecture", false %} {% assign
          lectures = lectures | where: "lecture", true | sort: "index" %} {% for
          lecture in lectures %}
          <tr>
            <td class="announcement-text">
              <p>{{ lecture.index }}. {{ lecture.title }}</p>
            </td>
            <td class="announcement-date">
              <div class="button-container">
                <a
                  target="_blank"
                  class="button"
                  href="{{ lecture.path | relative_url }}"
                  >Slides</a
                >
              </div>
            </td>
          </tr>
          {% endfor %} {% for misc in miscs %}
          <tr>
            <td class="announcement-text">
              <p>* {{ misc.title }}</p>
            </td>
            <td class="announcement-date">
              <div class="button-container">
                <a
                  target="_blank"
                  class="button"
                  href="{{ misc.path | relative_url }}"
                  >Slides</a
                >
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <hr />
      <h2>References 📚</h2>
      <div>
        {% for reference in site.data.references %}
        <div class="reference">
          <div class="image">
            <img src="{{ reference.image }}" />
          </div>
          <div class="text">
            {% if reference.link %}
            <h5>
              <a href="{{ reference.link }}">{{ reference.title }}</a>
            </h5>
            {% else %}
            <h5>{{ reference.title }}</h5>
            {% endif %} {% if reference.authors %}
            <h5>Authors:</h5>
            <ul>
              {% for author in reference.authors %}
              <li>{{ author }}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script>
      let announcements = document.getElementsByClassName("announcement-text");
      for (let i = 0; i < announcements.length; i++) {
        if (announcements[i].hasAttribute("data-tag")) {
          let div = document.createElement("div");
          div.innerHTML = announcements[i].getAttribute("data-tag");
          div.setAttribute("class", "news-status");
          announcements[i].appendChild(div);
        }
      }
    </script>
  </body>
</html>
