$highlights: (
    "orange": #ff9100,
    "green": #76ff03,
    "cyan": #00e5ff,
    "red": #ff0000,
    "material": #ff80ab,
    "violet": #ee82ee,
    "yellow": #ffcc00,
);

:root {
  --r-main-font-size: 32px
}

@each $name, $color in $highlights {
        .hl-#{$name} {
                color: $color;
        }
}

.stackoverflow {
        color: #f48024;
}

section > h2:first-child {
        color: #ff033e !important;
}

section > p {
        text-align: justify;
}

table.cell td {
        border: 5px solid #ccff00 !important;
}

.slide-background-content {
        height: 100%;
}

.box {
        border-radius: 5px;
        background-color: #919096;
        box-shadow: 5px 5px 5px 0;
        margin-top: 20px !important;
        margin-bottom: 20px !important;
}

.box header {
        background-color: #656469;
        border-radius: 5px 5px 0 0;
        color: #DD8F33;
}

.box p {
        font-style: italic;
        padding-left: 20px;
        padding-right: 20px;
}

section.hands-on {
        > ul:last-child::after {
                content: url("../img/hands-on.gif");
        }
}
